<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div class="container d-flex justify-content-center align-content-center vh-100 mt-5">
    <div class="row justify-content-center">
        <div class="mx-5">
            <h1>Registration</h1>
            <form method="post">

                <p class="form-label">Already have an account - <a th:href="@{/authorization}">Authorization</a><p>
            </form>
        </div>
    </div>
</div>
</body>
</html>