<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
    <meta charset="UTF-8">
    <title>Create Folder Modal</title>
</header>
<div class="modal" tabindex="-1" id="create-folder-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Folder</h5>
            </div>
            <div class="modal-body" th:object="${folderCreateDTO}" >
                <form action="/folder" method="post" id="create-folder-form">
                    <input th:field="*{rootFolderPath}" name="rootFolderPath" type="hidden" th:value="${path}" />
                    <input th:field="*{nameOfNewFolder}" name="nameOfNewFolder" type="text" class="form-control" placeholder="Folder name"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="create-folder-form">Create</button>
            </div>
        </div>
    </div>
</div>
</html>